<%- include('includes/head.ejs') %>            
<main>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Emblem About</title>

    <!-- Link a los estilos de Bulma y los propios -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="css/fe.css"> 

    <!-- TEXTO INICIAL EXPLICANDO FIRE EMBLEM EN SU CUADRO CORRESPONDIENTE-->
    <section class="section, section background-image">
        <div class="container">
            <div class="box">
                <h1 class="title">¿Qué es Fire Emblem?</h1>
                <!-- Descripción básica del juego Fire Emblem -->
                <p>La serie Fire Emblem es un juego de estrategia/rpg con profundos elementos tácticos, destacada por sus personajes y historias. Recuerda, cada decisión cuenta, ¿tienes las habilidades para salvar el día y lograr la victoria?</p>
            </div>
    <!-- VIDEO ANIVERSARIO DE FIRE EMBLEM HEROES-->
            <div class="block">
                <figure class="image is-16by9">
                    <iframe
                      class="has-ratio"
                      width="640"
                      height="360"
                      src="https://www.youtube.com/embed/s1J5D997Mkk?si=_aHzCYWTZYV2s2Qd"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin"
                      allowfullscreen>
                    </iframe>
                </figure>
            </div>
        </div>
    </section>

    <!-- SECCIÓN SOBRE FIRE EMBLEM EN NINTENDO SWITCH -->
    <section class="section">
        <div class="container">
            <!-- Información de Fire Emblem 3 Houses -->
            <div class="box">
                <h1 class="title has-text-centered has-text-danger">
                    Fire Emblem in Nintendo Switch!
                </h1>
                <h1 class= mt-4>
                    <!-- Fire Emblem 3 Houses -->
                <div class="is-flex is-justify-content-center is-align-items-center" style="margin-bottom: 20px;">
                    <figure class="image is-128x128" style="margin-right: 20px;">
                        <!-- Imagen de Fire Emblem 3 Houses -->
                        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn02.nintendo-europe.com%2Fmedia%2Fimages%2F11_square_images%2Fgames_18%2Fnintendo_switch_5%2FSQ_NSwitch_FireEmblemThreeHouses.jpg&f=1&nofb=1&ipt=dce7a78ad2d5b83223057df6c2bf55a21791c79470c8da1f7c11447199a688b8&ipo=images" alt="Fire Emblem 3 Houses">
                    </figure>
                    <div>
                        <strong>Fire Emblem 3 Houses</strong>
                        <br>
                        <em>Nintendo Switch</em>
                    </div>
                </div>
                <!-- Explicación de la historia de Fire Emblem 3 Houses -->
                <p>La guerra se acerca al continente de Fódlan. Aquí, el orden lo mantiene la Iglesia de Seiros, la cual alberga en sus instalaciones principales a la prestigiosa Academia de Oficiales...</p>
                <!-- Trailer de Fire Emblem 3 Houses -->
                <figure class="image is-16by9">
                    <iframe
                      class="has-ratio"
                      width="640"
                      height="360"
                      src="https://www.youtube.com/embed/rkux5h0PeXo?si=G4qYPOh1laJo-Mab"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin"
                      allowfullscreen>
                    </iframe>
                 </figure>
                 <!-- Botón de acceso a la E-Shop -->
                 <div class="has-text-centered mt-4"> 
                    <button class="button is-yellow" href="https://www.nintendo.com/us/store/products/fire-emblem-three-houses-switch/">e-Shop</button>
                </div>
                </h1>
                <h1 class=mt-4>

                    <!-- Fire Emblem Engage -->
                    <div class="is-flex is-justify-content-center is-align-items-center", class="mb-5" style="margin-bottom: 20px;">
                        <!-- Imagen de Fire Emblem Engage -->
                        <figure class="image is-128x128" style="margin-right: 20px;">
                            <img src="https://upload.wikimedia.org/wikipedia/en/f/f6/Fire_Emblem_Engage.jpg" alt="Fire Emblem Engage">
                        </figure>
                        <div>
                            <!-- Fire Emblem Engage -->
                            <strong>Fire Emblem Engage</strong>
                            <br>
                            <em>Nintendo Switch</em>
                        </div>
                    </div>
                    <!-- Descripción de Fire Emblem Engage -->
                    <p>In a war against the Fell Dragon, four kingdoms worked together with heroes from other worlds...</p>
                    <!-- Trailer Fire Emblem Engage -->
                    <figure class="image is-16by9">
                        <iframe
                          class="has-ratio"
                          width="640"
                          height="360"
                          src="https://www.youtube.com/embed/vAdUlQN8MNg?si=gaUfWZttNSS2fquZ"
                          title="YouTube video player"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          referrerpolicy="strict-origin-when-cross-origin"
                          allowfullscreen>
                        </iframe>
                    </figure>
                    <!-- Botón de acceso a la E-Shop -->
                    <div class="has-text-centered mt-4">
                        <button class="button is-yellow" href="https://www.nintendo.com/us/store/products/fire-emblem-engage-switch/">e-Shop</button>
                    </div>
                </h1>
                    
                </div>
            </div>
        </section>
    </main>

<!-- Footer de la página -->
<%- include('includes/foot.ejs') %>
