<%- include('includes/head.ejs') %>
<main>
<body>
  <section class="section">
    <div class="container">
      <div class="box">
        <h1 class="title">Choose Your Legends</h1>
        <p>Summoners from all around the world have reunited to select the best of the best heroes to help the order of heroes in its struggle!</p>
        <p>These heroes come with special powers and appearances that symbolize their growth and legacy! I wonder which heroes were selected by our summoners.</p>
        <div class="has-text-centered">
          <figure>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fserenesforest.net%2Fwp-content%2Fuploads%2F2017%2F01%2Ffe-heroes-cast-2-1024x576.jpg&f=1&nofb=1&ipt=38ed5efc8d84649c894f7ca98204486790ebd87b8ddbaecee8493f5ae1dbc29a&ipo=images" alt="FEH Hero">
          </figure>
        </div>
      </div>
      <div class="has-text-centered">
        <figure class="image is-16by9 mb-0">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/xLLI3G2iANk?si=P1SfJNcMOiegjl-s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </figure>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="box has-text-centered">
        <h2 class="title is-2">CyL 1 Brave Heroes</h2>
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Place</th>
              <th>Female Winners</th>
              <th>Image</th>
              <th>Male Winners</th>
              <th>Image</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td>1st Place</td>
              <td>Lyn ~ Brave Lady</td>
              <td>
                <figure>
                  <img class="image" src="https://guide.fire-emblem-heroes.com/wp-content/uploads/lin_brave_lady_slide01.png" />
                </figure>
              </td>
              <td>Ike ~ Brave Mercenary</td>
              <td>
                <figure>
                  <img class="image" src="https://guide.fire-emblem-heroes.com/wp-content/uploads/ike_brave_mercenary_slide01.png" />
                </figure>
              </td>
            </tr>
            <tr>
              <td>2nd Place</td>
              <td>Lucina ~ Brave Princess</td>
              <td>
                <figure>
                  <img class="image" src="https://guide.fire-emblem-heroes.com/wp-content/uploads/lucina_brave_princess_slide01.png" />
                </figure>
              </td>
              <td>Roy ~ Brave Lion</td>
              <td>
                <figure>
                  <img class="image" src="https://cdn.fireemblemwiki.org/thumb/8/86/FEH_Roy_Brave_Lion_01.png/478px-FEH_Roy_Brave_Lion_01.png?20170829042913" />
                </figure>
              </td>
            </tr>
          </tfoot>
        </table>

        <div class="has-text-centered">
          <figure class="image is-16by9 mb-0">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gThvml8zdyg?si=Vnv2ENMjOGSYcV9P" allowfullscreen></iframe>
          </figure>

          <h2 class="title is-2">CyL 2 Arrival of the Brave</h2>
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>Place</th>
                <th>Female Winners</th>
                <th>Image</th>
                <th>Male Winners</th>
                <th>Image</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td>1st Place</td>
                <td>Celica ~ Warrior Priestess</td>
                <td>
                  <figure>
                    <img class="image" src="https://cdn.fireemblemwiki.org/thumb/4/49/FEH_Celica_Warrior_Priestess_01.png/267px-FEH_Celica_Warrior_Priestess_01.png?20180824001000" />
                  </figure>
                </td>
                <td>Hector ~ Brave Warrior</td>
                <td>
                  <figure>
                    <img class="image" src="https://cdn.fireemblemwiki.org/thumb/c/c6/FEH_Hector_Brave_Warrior_01.png/502px-FEH_Hector_Brave_Warrior_01.png?20180824001004" />
                  </figure>
                </td>
              </tr>
              <tr>
                <td>2nd Place</td>
                <td>Veronica ~ Brave Princess</td>
                <td>
                  <figure>
                    <img class="image" src="https://cdn.fireemblemwiki.org/thumb/8/8a/FEH_Veronica_Brave_Princess_01.png/403px-FEH_Veronica_Brave_Princess_01.png?20180824000951" />
                  </figure>
                </td>
                <td>Ephraim ~ Sacred Twin Lord</td>
                <td>
                  <figure>
                    <img class="image" src="https://cdn.fireemblemwiki.org/thumb/6/64/FEH_Ephraim_Sacred_Twin_Lord_01.png/459px-FEH_Ephraim_Sacred_Twin_Lord_01.png?20180824000955" />
                  </figure>
                </td>
              </tr>
            </tfoot>
          </table>

          <div class="has-text-centered">
            <figure class="image is-16by9 mb-0">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/YgqfMDov1EE?si=T5bZGuI6E5G_MAjl" allowfullscreen></iframe>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <p class="subtitle is-1 has-text-centered">Summon in the latest Brave Banner!</p>

  <div class="box has-text-centered">

    <a class="button is-info mb-4" id="bottom_Summon_2" href="/spark">In Those We Hope</a>
  </div>

<div>
  <button class="button is-info mb-4" id="generate_hero" onclick="document.getElementById('generateHeroForm').submit();">Brave del Dia</button>

  <p class="subtitle is-4 has-text-centered">Brave del dia es....</p>

  <form id="generateHeroForm" action="/brave" method="POST" style="display: none;"></form>
  
  <div class="has-text-centered, subtitle is-4">
    <figure class="image is-inline-block">
      <img width="40%" id="Imagen_B1" src="<%= src %>" alt="<%= alt %>" />
    </figure>
  </div>
</div>

  

</div>



  </div>
</main>

<%- include('includes/foot.ejs') %>
