<%- include('includes/head.ejs') %>
<header>
    <h1 class="title">404</h1>
</header>
<main>
    <br>
    <p class="block">
        FEH.......ZZZZZZ.....Plase....this route.....not exist....try again......ZZZ 
    </p>
    <figure class="image is-128x128">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgamepedia.cursecdn.com%2Ffeheroes_gamepedia_en%2F2%2F23%2FFeh_BtlFace_C.png%3Fversion%3D818aa60378f104072bdf63cd192a0a08&f=1&nofb=1&ipt=01cdcd62f6a9ba463e975ff313f8a90215ddc783d9c9b46abc27fb51965b8e32&ipo=images" />
    </figure>
<%- include('includes/foot.ejs') %>