.Ceada {
    color: blue;
}

.Mila {

    color: red
}

.Duma {

    color: rgb(22, 207, 83)
}


#lords {
    color: blueviolet;
}

body.FEH {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 20px; 
    max-width: 50em;
    font: normal 16px/24px "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    background: url("https://enjoycss.com/bg-img/custom/4129583-1nnz907.ljqj.png") no-repeat;
    background-position: 81% 66%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: auto auto;
    box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

h1, h2, h3 {
    margin: 10px 0;
}

p, ul, li, table {
    margin: 5px 0;
    padding: 0;
}