<%- include('includes/head.ejs') %>
<div class="field">
    <label class="label">User Name</label>
    <div class="control">
        <input id="User" name="User" class="input" type="text" placeholder="User Name" required>
    </div>
</div>
<div class="field">
    <label class="label">Password</label>
    <div class="control">
        <input id="pass" name="pass" class="input" type="password" placeholder="Password" required>
    </div>
</div>
<form action="/errorenregistro" method="post">
    <div class="field">
        <div class="control">
        <button type="submit" class="button is-link">Registrar</button>
        </div>
    </div>
</form>
<%- include('includes/foot.ejs') %>

