<%- include('includes/head.ejs') %>            
<main>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Emblem About</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="css/fe.css"> 

    <section class="section, section background-image">
        <div class="container">
            <div class="box">
                <h1 class="title">¿Qué es Fire Emblem?</h1>
                <p>La serie Fire Emblem es un juego de estrategia/rpg con profundos elementos tácticos, destacada por sus personajes y historias. Recuerda, cada decisión cuenta, ¿tienes las habilidades para salvar el día y lograr la victoria?</p>
            </div>
            <div class="block">
                <figure class="image is-16by9">
                    <iframe
                      class="has-ratio"
                      width="640"
                      height="360"
                      src="https://www.youtube.com/embed/s1J5D997Mkk?si=_aHzCYWTZYV2s2Qd"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin"
                      allowfullscreen>
                    </iframe>
                </figure>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <!-- Segundo Contenido -->
            <div class="box">
                <h1 class="title has-text-centered has-text-danger">
                    Fire Emblem in Nintendo Switch!
                </h1>
                <h1 class= mt-4>
                <div class="is-flex is-justify-content-center is-align-items-center" style="margin-bottom: 20px;">
                    <figure class="image is-128x128" style="margin-right: 20px;">
                        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn02.nintendo-europe.com%2Fmedia%2Fimages%2F11_square_images%2Fgames_18%2Fnintendo_switch_5%2FSQ_NSwitch_FireEmblemThreeHouses.jpg&f=1&nofb=1&ipt=dce7a78ad2d5b83223057df6c2bf55a21791c79470c8da1f7c11447199a688b8&ipo=images" alt="Fire Emblem 3 Houses">
                    </figure>
                    <div>
                        <strong>Fire Emblem 3 Houses</strong>
                        <br>
                        <em>Nintendo Switch</em>
                    </div>
                </div>
                <p>La guerra se acerca al continente de Fódlan. Aquí, el orden lo mantiene la Iglesia de Seiros, la cual alberga en sus instalaciones principales a la prestigiosa Academia de Oficiales. Tú estás invitado a enseñar en una de sus poderosas casas, cada una de ellas integrada con estudiantes llenos de personalidad y representados por un monarca de uno de los tres territorios. En tu rol de profesor, deberás guiar a tus estudiantes a través de su vida académica y en combates en un juego de rol táctico por turnos, llenos de estrategia y obstáculos por superar. ¿Cuál casa y camino escogerás?</p>

                <figure class="image is-16by9">
                    <iframe
                      class="has-ratio"
                      width="640"
                      height="360"
                      src="https://www.youtube.com/embed/rkux5h0PeXo?si=G4qYPOh1laJo-Mab"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin"
                      allowfullscreen>
                    </iframe>
                 </figure>
                 <div class="has-text-centered mt-4"> <!-- Centra el contenido y agrega margen superior -->
                    <button class="button is-yellow" href="https://www.nintendo.com/us/store/products/fire-emblem-three-houses-switch/">e-Shop</button>
                </div>
                </h1>
                <h1 class=mt-4>
                    <div class="is-flex is-justify-content-center is-align-items-center",  class= "mb-5" style="margin-bottom: 20px;">
                        <figure class="image is-128x128" style="margin-right: 20px;">
                            <img src="https://upload.wikimedia.org/wikipedia/en/f/f6/Fire_Emblem_Engage.jpg" alt="Fire Emblem Engage">
                        </figure>
                        <div>
                            <div>
                                <strong>Fire Emblem Enage</strong>
                                <br>
                                <em>Nintendo Switch</em>
                            </div>
                        </div>
                    </div>
                    <p>In a war against the Fell Dragon, four kingdoms worked together with heroes from other worlds to seal away this great evil. One-thousand years later, this seal has weakened and the Fell Dragon is about to reawaken. As a Divine Dragon, use rich strategies and robust customization to meet your destiny—to collect 12 Emblem Rings and bring peace back to the Continent of Elyos</p>
    
                    <figure class="image is-16by9">
                        <iframe
                          class="has-ratio"
                          width="640"
                          height="360"
                          src="https://www.youtube.com/embed/vAdUlQN8MNg?si=gaUfWZttNSS2fquZ"
                          title="YouTube video player"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          referrerpolicy="strict-origin-when-cross-origin"
                          allowfullscreen>
                        </iframe>
                    </figure>
                    <div class="has-text-centered mt-4"> <!-- Centra el contenido y agrega margen superior -->
                        <button class="button is-yellow" href="https://www.nintendo.com/us/store/products/fire-emblem-engage-switch/">e-Shop</button>
                    </div>
                </h1>

                <h1 class=mt-4>
                    <div class="is-flex is-justify-content-center is-align-items-center",  class= "mb-5" style="margin-bottom: 20px;">
                        <figure class="image is-128x128" style="margin-right: 20px;">
                            <img src="https://upload.wikimedia.org/wikipedia/en/a/ad/Fire_Emblem_Warriors_Three_Hopes.jpg" alt="Fire Emblem 3 Hopes">
                        </figure>
                        <div>
                            <div>
                                <strong>Fire Emblem Warriors: 3 Hopes</strong>
                                <br>
                                <em>Nintendo Switch</em>
                            </div>
                        </div>
                    </div>
                    <p>Step into the shoes of Shez as they join Edelgard, Dimitri, Claude, and other Fire Emblem™: Three Houses characters and fight for the future of Fódlan. Align with a leader to build and command an army in strategic 1-vs.-1,000-style battles. The house you choose will bring you through one of three compelling stories, each with a different outcome.</p>
    
                    <figure class="image is-16by9">
                        <iframe
                          class="has-ratio"
                          width="640"
                          height="360"
                          src="https://www.youtube.com/embed/w5TrSaoYmZ8?si=gSzgT6Xzho1jvU9G"
                          title="YouTube video player"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          referrerpolicy="strict-origin-when-cross-origin"
                          allowfullscreen>
                        </iframe>
                    </figure>
                    <div class="has-text-centered mt-4"> <!-- Centra el contenido y agrega margen superior -->
                        <button class="button is-yellow" href="https://www.nintendo.com/us/store/products/fire-emblem-warriors-three-hopes-switch/">e-Shop</button>
                    </div>
                </h1>
                    
                </div>
            </div>
        </section>
    </main>


<%- include('includes/foot.ejs') %>